*,  .pure-g [class *= pure-u]
{
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body
{
  width: 100%;
  margin: 0 auto;
}
h1
{
  margin: 0 0 1em 0;
  text-align: center;
  padding: 1em 2em;
  background: #1f77b4;
  color: #fff;
}
h2
{
  margin: 0;
  text-align: center;
  padding: 0.5em;
}
#input, 
#process,
#output
{
  margin:  0 auto;
  width: 66.67%;
  min-width: 840px;
}
#input form
{
  margin: 0 1em;
}
#input #instruction
{
  margin: 1em 0;
}
#input #left
{
  padding-right: 4px;
}
#input #right
{
  padding-left: 4px;
}
#input .ref,
#input .course
{
  border-left: 8px #1f77b4 solid;
  margin: 8px auto;
}
#input label
{
  padding-right: 4px;
  text-align: right;
}
#input .check
{
  padding: 0.5em 4px;
  font-weight: bold;
  text-align: left;
}
.pure-button
{
  display: block;
  width: 100%;
  margin: 4px auto;
}
#output,
#process
{
  display: none;
}
#process
{
  text-align: center;
  font-size: 5em;
  padding: 0.5em;
  color: #CCC;
}
#result
{
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
}

/* Drawings */
#canvas
{
  width: 100%;
  height: 480px;
}
.axis path,
.axis line
{
  fill: none;
  stroke: #AAA;
}
.pass-a
{
  fill: SeaGreen ;
}
.pass-b
{
  fill: MediumSeaGreen;
}
.pass-c
{
  fill: DarkSeaGreen;
}
.fail
{
  fill: DarkRed;
}
.grade
{
  fill: White;
  stroke: none;
  text-anchor: middle;
  font-size: 20px;
}
